<!--
@File   : index_central.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 11/11/2019, 10:49:42
-->
{% extends 'home/index_base.html' %}{% block corpo %}{% load static %}


<!-- start: Content -->


<div class="col-md-12 modal-example">
    <div class="panel">
        <div class="col-md-1">

        </div>
        <div class="col-md-12">
            <div class="">
                <img src="{% static '/assets/images/users/ig1.jpg' %}" class="col-md-12  col-sm-12 " />
            </div>
        </div>

        <div class="col-md-1">

        </div>
    </div>

</div>



<!-- end: Content -->


{% endblock %}