<!DOCTYPE html>{% load static %}
<!--
@File   : login.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 25/11/2019, 18:58:27
-->
<html lang="en" class="body-full-height">

<head>
    <title>INSJCM - Igreja do Nosso Senha Jesus Cristo No Mundo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" id="theme" href="{% static '/css/theme-default.css' %}" />
    <!-- EOF CSS INCLUDE -->
</head>

<body>

    <div class="login-container">

        <div class="login-box animated fadeInDown">

            <div class="login-body">
                <div class="login-logo"></div>
                <div class="login-title"><strong></strong>Sistema de Gestão Tocoista</div>
                <form action="{% url 'Catedral_Central:home-central' %}" class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" class="form-control" placeholder="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-link btn-block">Forgot your password?</a>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button class="btn btn-info btn-lg btn-block">LOGIN</button>
                        </div>
                    </div>
                    <div class="login-footer">
                        <div class="pull-left">
                            &copy; 2019 INSJCM-Tocoistas
                        </div>
                        <div class="pull-right">
                            <a href="#">About</a> |
                            <a href="#">Privacy</a> |
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

</body>

</html>